[submodule "vim/pack/plugin/start/vim-airline"]
	path = vim/pack/plugin/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/plugin/start/fzf-mru.vim"]
	path = vim/pack/plugin/start/fzf-mru.vim
	url = https://github.com/pbogut/fzf-mru.vim
[submodule "vim/pack/plugin/start/fzf.vim"]
	path = vim/pack/plugin/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/plugin/start/fzf"]
	path = vim/pack/plugin/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/pack/plugin/start/vim-repeat"]
	path = vim/pack/plugin/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/plugin/start/vim-sensible"]
	path = vim/pack/plugin/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/pack/plugin/start/vim-surround"]
	path = vim/pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/plugin/start/vim-sleuth"]
	path = vim/pack/plugin/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule "vim/pack/plugin/start/vim-oscyank"]
	path = vim/pack/plugin/start/vim-oscyank
	url = https://github.com/ojroques/vim-oscyank
[submodule "vim/pack/plugin/opt/copilot"]
	path = vim/pack/plugin/opt/copilot
	url = https://github.com/github/copilot.vim.git
[submodule "vim/pack/plugin/start/vim-fugitive"]
	path = vim/pack/plugin/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugin/start/vim-rhubarb"]
	path = vim/pack/plugin/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "vim/pack/plugin/start/vim-go"]
	path = vim/pack/plugin/start/vim-go
	url = https://github.com/fatih/vim-go
	branch = v1.26
